@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background: #000;
  color: #fff;
}
