.gallery-section {
  padding-top: 100px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: min(60vh, 520px);
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s ease;
}

.gallery-grid img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
