.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(0,0,0,0.95);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  z-index: 9999;
}

.logo-combo {
  display: flex;
  align-items: center;
  gap: 12px;
}



.logo-icon {
  width: 60px;
  height: 60px;
  background: url('../assets/logo.png') no-repeat center;
  background-size: contain;
  filter: invert(1);
}

.logo-text {
  width: 160px;
  height: 40px;
  background: url('../assets/letters.png') no-repeat center;
  background-size: contain;
  filter: invert(1);
}

.nav {
  display: flex;
}

.nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav a:hover {
  color: #ff0000;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 6px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #fff;
}

/* FIX OFFSET PARA SECCIONES CON HEADER FIJO */
section,
footer {
  scroll-margin-top: 100px; /* header (100px) + margen */
}