.about-section {
  padding: 2rem 1.5rem;
  position: relative;
}

.about-section::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #222;
  margin: 100px auto 0;
}

.about-container {
  max-width: 1100px;
  margin: auto;
}

.about-container p {
  font-size: 18px;
  line-height: 1.85;
  color: #d6d6d6;
  margin-bottom: 28px;
}
